.App {
  text-align: center;
  font-family: "Syne";
  max-width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVBAR */

.user-photo {
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.logout-button {
  border: 1px solid lightgray;
  background-color: transparent;
  border-radius: 5px;
}

.logout-button:hover {
  cursor: pointer;
  background-color: rgb(246, 246, 246);
}

.fa-right-from-bracket {
  font-size: 21px;
  color: #1d6154;
}

.navbar {
  display: grid;
  grid-template-columns: 2fr 5fr 5fr;
  border-bottom: 1px solid rgb(188, 223, 188);
}

.link {
  text-decoration: none;
  color: #164e44;
}

.link:hover {
  text-decoration: underline;
}

.user-info,
.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-link {
  padding: 30px;
}

.fa-user,
.fa-house,
.fa-pen {
  margin-right: 6px;
  color: #1f5127;
}

.user-info {
  justify-content: space-around;
}

/* --------------------------------------------------------- */

/* PAGE: CREATE POST */

.title-create-post {
  font-weight: 700px;
  color: #b1663c;
  font-size: 1.3em;
  margin: 0 auto;
}

.form-container {
  width: 65%;
  max-width: 500px;
  margin: 3em auto;
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 50px 30px;
}

.create-post-form {
  width: 70%;
  margin: 3em auto 0 auto;
  background-color: rgb(101, 185, 169, 0.1);
  padding: inherit;
}

.form-label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1em;
  font-weight: normal;
  color: rgb(100, 99, 99);
}

.post-title {
  height: 25px;
}

.form-input {
  margin: 1em 0 2em 0;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
}

/* --------------------------------------------------------- */

.button {
  height: 35px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  color: white;
  background-color: #1d6154;
  margin: 3em auto 0 auto;
  width: 95px;
  text-align: center;
  border-radius: 60px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
