.App {
  text-align: center;
  font-family: "Syne";
  max-width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVBAR */

.user-photo {
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.logout-button {
  border: 1px solid lightgray;
  background-color: transparent;
  border-radius: 5px;
}

.logout-button:hover {
  cursor: pointer;
  background-color: rgb(246, 246, 246);
}

.fa-right-from-bracket {
  font-size: 21px;
  color: #1d6154;
}

.navbar {
  display: grid;
  grid-template-columns: 2fr 5fr 5fr;
  border-bottom: 1px solid rgb(188, 223, 188);
}

.link {
  text-decoration: none;
  color: #164e44;
}

.link:hover {
  text-decoration: underline;
}

.user-info,
.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-link {
  padding: 30px;
}

.fa-user,
.fa-house,
.fa-pen {
  margin-right: 6px;
  color: #1f5127;
}

.user-info {
  justify-content: space-around;
}

/* --------------------------------------------------------- */

/* PAGE: LOGIN */

.login-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 330px;
}
.google-logo {
  width: 23px;
}

/* --------------------------------------------------------- */

/* PAGE: CREATE POST */

.title-create-post {
  font-weight: 700px;
  color: #b1663c;
  font-size: 1.3em;
  margin: 0 auto;
}

.form-container {
  width: 65%;
  max-width: 500px;
  margin: 3em auto;
  border-radius: 30px;
  padding: 50px 30px;
}

.create-post-form {
  width: 70%;
  margin: 3em auto 0 auto;
  background-color: rgb(101, 185, 169, 0.1);
  padding: inherit;
  border-radius: 50px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.form-label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1em;
  font-weight: normal;
  color: rgb(100, 99, 99);
}

.post-title {
  height: 25px;
}

.form-input {
  margin: 1em 0 2em 0;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
}

/* --------------------------------------------------------- */

/* PAGE: HOME */

.fa-rocketchat-home {
  color: #b1663c;
  font-size: 8em;
}

.post {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 70%;
  border: 1px solid lightgray;
  border-radius: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.header-post {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.body-post p {
  text-align: initial;
  padding: 0 20px;
}

.footer-post {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid lightgray;
}

.fa-thumbs-up,
.fa-thumbs-down {
  font-size: 1.4em;
}

.fa-thumbs-up:hover,
.fa-thumbs-down:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* --------------------------------------------------------- */

/* .button {
  height: 35px;
  border: none;
  color: white;
  background-color: #1d6154;
  margin: 3em auto 0 auto;
  width: 95px;
  text-align: center;
  border-radius: 60px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  transform: scale(1.4);
} */

/* CSS */
.button {
  font-family: unset;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
}
